
.header {

  margin:4rem auto;
	padding:2rem 3rem 3rem;
	max-width:1000px;
  box-sizing:border-box;
  background:#FF6666;
	color:#FFF;
	box-shadow:- rgba(100,100,100,.1);
	font-size:1.1rem;
	font-family:'Quicksand', sans-serif;
  text-align: center;

  .heading{
    border-bottom:1px solid white;
  }
}


button {
  font-family: 'Open Sans', sans-serif;
  border-radius: 2px;
  border: none;
  outline: none;
  height: 50px;
  width: 150px;
  font-size: 1em;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  background: #444;
  margin-left: 30px;
}

.icon {
  position: absolute;
  top: 30%;
  left: 10px;
  font-size: 20px;
}

button:hover {
  background: #303030;
}
