
.header {

  margin:4rem auto;
	padding:2rem 3rem 3rem;
	max-width:1000px;
  box-sizing:border-box;
  background:#FF6666;
	color:#FFF;
	box-shadow:- rgba(100,100,100,.1);
	font-size:1.1rem;
	font-family:'Quicksand', sans-serif;
  text-align: center;

  .heading{
    border-bottom:1px solid white;
  }
}
